[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
flask-migrate = "*"
sqlalchemy = "*"
flasgger = "*"
cymysql = "*"
flask-httpauth = "*"
flask-cors = '*'
flask-uploads = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.6"
